<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <h1>Analisador Lexico</h1>
    </a>
  </nav>
  <table class="table">
    <thead>
      <h3>Documentação</h3>
      <tr>
        <th scope="col">Estrutura de comparaçăo</th>
        <th scope="col">if</th>
        <th scope="col">else</th>
        <th scope="col">></th>
        <th scope="col">>=</th>
        <th scope="col"><</th>
        <th scope="col"><=</th>
        <th scope="col">==</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Estrutura de repetiçăo</th>
        <td>for</td>
        <td>while</td>
      </tr>
      <tr>
        <th scope="row">Declaraçăo de variável/constante</th>
        <td>var </td>
        <td>num</td>
        <td>String</td>
        <td>bool</td>
      </tr>
      <tr>
        <th scope="row">Operadores aritméticos</th>
        <td>+</td>
        <td>-</td>
        <td>*</td>
        <td>/</td>
      </tr>
      <tr>
        <th scope="row">Operadores lógicos</th>
        <td>AND</td>
        <td>OR</td>
        <td>NOT</td>
        <td>IN</td>
        <td>TRUE</td>
        <td>FALSE</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="form-group">
    <label for="comment">Digite aqui:</label>
    <textarea class="form-control" rows="5" [(ngModel)]="str" #textbox></textarea>
    <br>
    <button class="btn btn-primary" (click)="enviaValores(textbox.value)">Traduzir</button>
    <br />
  </div>
</div>
<div class="container">
  <div class="card w-100">
    <div class="card-body">
      <div>
        <div><h4>{{mensagem}}</h4></div>
      </div>
    </div>
  </div>
</div>